{% extends "base.jinja" %}

{% block content %}

{# do I need a for statement, something similar #}
<body>
    <h1>Individual Order</h1>
    <h2>{{ drink.drink_name }}</h2>
    <p>{{ drink.size }}</p>
    <p>{{ drink.customer.customer_name }}</p>
    {% endfor %}

</body>

{% endblock %}